<%- include('../layout/head'); %>
    <div class="container-fluid mt-5">
        <h3>Ini adalah Jawaban dari Soal No.8, 9 & 10</h3>
        <b>8.</b> SELECT AVG(score) as "score" FROM db_nodejs1.tb_query;
        <br>
        <b>9.</b> SELECT COUNT(*) AS emotion FROM db_nodejs1.tb_query GROUP BY emotion;
        <br>
        <b>10</b>. SELECT AVG(score) as "score", COUNT(*) AS emotion FROM db_nodejs1.tb_query GROUP BY emotion;
        <br><br>
        Back to <a href="/">Home</a>
    </div>
<%- include('../layout/footer'); %>