        <script src="/assets/js/jquery/jquery-3.5.1.slim.min.js"></script>
        <script src="/assets/js/popper/popper.min.js"></script>
        <script src="/assets/js/bootstrap-v4/bootstrap.min.js"></script>
    </body>
</html>