<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <title><%= title %></title>

        <meta name="description" content="description">
        <meta name="keyword" content="keyword">

        <meta property="og:type" content="website">
        <meta property="og:url" content="#">
        <meta property="og:title" content="Title">
        <meta property="og:description" content="Content">
        <meta property="og:image" content="">

        <!-- <link rel="icon" type="image/png" href="icon/favicon.png"> -->

        <!-- CSS -->
        <link type="text/css" href="/assets/scss/bootstrap-v4/bootstrap.min.css?v=1.0.1" rel="stylesheet">

        <!-- Style -->
        <!-- <link type="text/css" href="/assets/css/styles.css?v=1.0.2" rel="stylesheet" /> -->

    </head>

    <body>